.App {
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-info {
  padding-top: 100px;
  font-size: large;
}

.App-body {
  color: white;
}

.App-loading {
  padding-top: 100px;
}

/* Nav */

.Nav-header {
  background-color: #222;
  color: white;
}

.Nav-logo {
  height: 40px;
}

.Nav-beta {
  margin-left: 50px;
  font-size: 1.2em;
}

.Nav-button {
  font-size: 1.1em;
  border-right: 1px solid;
  border-color: #FFF;
}

.Nav-full {
  padding: 20px;
}

/* Kitty */

.Kitty {
  margin-top: 40px;
}

.Kitty a {
  display: block;
  width: 100%;
}

.Kitty-available {
  margin-top: 40px;
}

.Kitty-siring {
  margin-top: 40px;
}

.Kitty-card {
  background-color: white;
  border-radius: 20px;
  border-width: 10px;
  border-color: red;
  border-style: solid;
  color: black;
  margin: 50px;
  padding: 20px;
}

.Kitty-bio {
  font-size: 0.8em;
}
