.App {
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-body {
  color: white;
}

.App-loading {
  padding-top: 100px;
}

/* Nav */

.Nav-header {
  background-color: #222;
  color: white;
  font-family: 'Noto Sans JP', sans-serif;
}

.Nav-logo {
  height: 40px;
}

.Nav-beta {
  margin-left: 50px;
  font-size: 1.2em;
}

.Nav-button {
  cursor: pointer;
  font-size: 1.1em;
  border-right: 1px solid;
  border-color: #FFF;
}

.Nav-full {
  padding: 20px;
}

/* Login */

.Login-background {
  position:fixed;
  height:100%;
  width:100%;
  text-align: center;
  font-family: 'Noto Sans JP', sans-serif;
}

.Login-box {
  position:fixed;
  height:75%;
  background-color: white;
  margin-top:100px;
  border-radius:25px;
  padding:50px;
}

.Login-issue {
  font-size:0.8em;
  border:1px solid red;
  padding:10px;
  border-radius: 20px;
  margin-left:100px;
  margin-right:100px;
  margin-bottom:50px;
}

.Login-issue-green {
  font-size:0.8em;
  border:1px solid green;
  padding:10px;
  border-radius: 20px;
  margin-left:100px;
  margin-right:100px;
  margin-bottom:50px;
}

.Login-red {
  color:red;
  margin-right:20px;
}

.Login-green {
  color:green;
  margin-right:20px;
}

.Login-info-li {
  margin: 10px 0;
  font-style: italic;
  font-size:1.2em;
}

.Login-logo {
  height: 40px;
  margin-bottom:40px
}

.Login-register-btn:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.Login-info-col {
  border-right: 1px solid #EEE;
  padding-top:60px;
  padding-bottom:60px;
}

/* Kitty */

.Kitty {
  margin-top: 40px;
}

.Kitty a {
  display: block;
  width: 100%;
}

.Kitty-available {
  margin-top: 40px;
}

.Kitty-siring {
  margin-top: 40px;
}

.Kitty-card {
  background-color: white;
  border-radius: 20px;
  border-width: 10px;
  border-color: red;
  border-style: solid;
  color: black;
  margin: 50px;
  padding: 20px;
}

.Kitty-bio {
  font-size: 0.8em;
}
