.App {
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-body {
  color: white;
}

.App-loading {
  padding-top: 100px;
}

/* Nav */

.Nav-header {
  background-color: #222;
  color: white;
}

.Nav-logo {
  height: 40px;
}

.Nav-beta {
  margin-left: 50px;
  font-size: 1.2em;
}

.Nav-button {
  cursor: pointer;
  font-size: 1.1em;
  border-right: 1px solid;
  border-color: #FFF;
}

.Nav-full {
  padding: 20px;
}

/* Login */

.Login-background {
  position:fixed;
  height:100%;
  width:100%;
  text-align: center;
}

.Login-box {
  background-color: white;
  margin-top:100px;
  border-radius:25px;
  padding:50px;
}

.Login-issue {
  border:1px solid red;
  padding:10px;
  border-radius: 10px;
  margin-left:50px;
  margin-right:50px;
}

.Login-red {
  color:red;
  margin-right:20px;
}

/* Kitty */

.Kitty {
  margin-top: 40px;
}

.Kitty a {
  display: block;
  width: 100%;
}

.Kitty-available {
  margin-top: 40px;
}

.Kitty-siring {
  margin-top: 40px;
}

.Kitty-card {
  background-color: white;
  border-radius: 20px;
  border-width: 10px;
  border-color: red;
  border-style: solid;
  color: black;
  margin: 50px;
  padding: 20px;
}

.Kitty-bio {
  font-size: 0.8em;
}
